<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PermissionModelsContainer" connectionString="metadata=res://*/PermissionModels.csdl|res://*/PermissionModels.ssdl|res://*/PermissionModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RTDP;user id=sa;password=Mp5917Mp5917;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>